th {
    font-weight: bold;
}

td {
    font-size: 14px;
}

body > table > tbody > tr > td:nth-child(1) {
    font-size: 15px;
}

table {
    font-family: 'Spoqa Han Sans Neo',Roboto,"Noto Sans KR",Arial,"Malgun Gothic",sans-serif;
}

#upRate > span{
    color: #f75467;
}

#downRate > span{
    color: #4386f9;
}