<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<meta http-equiv="refresh" content="30">

<body class="g-sidenav-show  bg-gray-200">
<aside th:replace="fragments/aside:: aside"/>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h5 class="text-white text-capitalize ps-3">상승률</h5>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        자산
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        실시간 시세
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        변동 가격
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        변동률
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        거래금액(24H)
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        시가총액
                                    </th>
                                    <th class="text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        상승률
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="coin, i : ${coins}">
                                    <td class="align-middle">
                                        <th:block th:if="${coin.name == 'CONUN'}">
                                            <a th:href="@{https://www.bithumb.com/trade/order/} + 'CON_KRW'"
                                               th:target="_blank">
                                                <img style="width: 20px"
                                                     th:src="@{/img/coin/} + 'CONUN.png'">
                                                <span class="text-dark  font-weight-bold"
                                                      th:text="${coin.name}"></span>
                                            </a>
                                        </th:block>
                                        <th:block th:unless="${coin.name == 'CONUN'}">
                                            <a th:href="@{https://www.bithumb.com/trade/order/} + ${coin.smallName} + '_KRW'"
                                               th:target="_blank">
                                                <img style="width: 20px"
                                                     th:src="@{/img/coin/} + ${coin.smallName} + '.png'">
                                                <span class="text-dark  font-weight-bold"
                                                      th:text="${coin.name}"></span>
                                            </a>
                                        </th:block>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-dark font-weight-bold"
                                              th:text="${coin.realkrw + ' 원'}"></span>
                                    </td>
                                    <td>
                                        <th:block th:if="${#strings.startsWith(coin.realPrice, '-')}">
                                                  <span class="font-weight-bold cus-de"
                                                        th:text="${coin.realPrice + ' 원'}"></span>
                                        </th:block>
                                        <th:block th:unless="${#strings.startsWith(coin.realPrice, '-')}">
                                                  <span class="font-weight-bold cus-in"
                                                        th:text="'+' + ${coin.realPrice + ' 원'}"></span>
                                        </th:block>
                                    </td>
                                    <td class="align-middle">
                                        <th:block th:if="${#strings.startsWith(coin.realRate, '-')}">
                                                  <span class="font-weight-bold cus-de"
                                                        th:text="${coin.realRate + ' %'}"></span>
                                        </th:block>
                                        <th:block th:unless="${#strings.startsWith(coin.realRate, '-')}">
                                                  <span class="font-weight-bold cus-in"
                                                        th:text="'+' + ${coin.realRate + ' %'}"></span>
                                        </th:block>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-dark  font-weight-bold"
                                              th:text="'≈ ' + ${#numbers.formatInteger(coin.tradePrice, 0, 'COMMA')} + ' 원'"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-dark font-weight-bold"
                                              th:text="${#numbers.formatInteger(coin.totalPrice, 0, 'COMMA')} + ' 원'"></span>
                                    </td>
                                    <td class="align-middle" id="upRate">
                                        <span class="font-weight-bold"
                                              th:text="'+' + ${#numbers.formatDecimal(increase[i.index], 0, 2)} + '%'"></span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>